{% extends "base.html" %}
{% block localfiles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/announcements_manage.css" %}" />
    <script type="text/javascript" src="{% static "js/announcements/announcement_manage.js" %} "></script>
{% endblock %}
{% block headbar %}
    <div id="headbar_empty">
        <span id="text_headbar"></span>
    </div>
{% endblock %}
{% block content %}
    <div id="content" class="clearfix">
        <div id="newannounce">
            <a id="announce_title" href="javascript:activate_new_announce()" class="right_title">New Announcement</a>
            <form action="/announcements/" method="post">
                {% csrf_token %}
                <div id="infos">
                    <div class="line_form">
                        <label>Title</label>
                        <input type="text" id="title" name="title" placeholder="Title of your announce"/>
                    </div>
                    <div class="line_form">
                        <label>Description</label>
                        <textarea id="description" name="desc" placeholder="What is your announce?"></textarea>
                    </div>
                    <div class="submitdiv">
                        <button id="up_button" type="submit" class="button_form">Submit</button>
                        <button type="reset" class="button_form">Reset</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="announcements_list">
            <h2 class="title">Announcements</h2>
            <div class="announcement">
                <div id="table">
                    <table width="100%" cellpadding="2px" cellspacing="0px">
                        <tr>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Author</th>
                        </tr>
                        {% if announcements %}
                            {% for announce in announcements %}
                                <tr>
                                    <td>{{ announce.title }} </td>
                                    <td>{{ announce.date_last_edit }}</td>
                                    <td>{{ announce.user.username }}</td>
                                </tr>
                            {% endfor %}

                        {% endif %}
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}