<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/cmsuser.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/clearfix.css" %}" />
    <script type="text/javascript" src="{% static "js/jquery-1.10.2.min.js" %}" ></script>
    <script type="text/javascript" src="{% static "js/test.js" %}" ></script>
</head>
<body>
<div id="header" class="green">
    <span class="title">yapster</span>
    <a href="/login/">log out</a>
    <a href="#">Settings</a>
    <a href="/permissionsgroups/">Groups Management</a>
    <a href="/cmsusers/">Cms Users</a>
    <a href="/cmsusers/{{ user.username }}">{{ user.username }}</a>
    <a href="/search/">Search</a>
    <a href="/home/" class="selected">Home</a>
</div>
<div id="sidebar" class="clearfix">
    <ul>
        <div class="title">Home</div>
        <a href="#" ><li class="selected">main</li></a></a>
        <a href="/statistics/"><li>statistics</li></a>
        <a href="#"><li>maps</li></a>
    </ul>
    <ul>
        <div class="title">Statistics</div>
        <a href="#"><li>Yaps</li></a></a>
        <a href="#"><li>Users</li></a>
        <a href="#"><li>Queries</li></a>
        <a href="#"><li>Databases</li></a>
        <a href="#"><li>Trends</li></a></a>
        <a href="#"><li>Sharing</li></a>
        <a href="#"><li>Server</li></a>
    </ul>
    <ul>
        <div class="title">Spam</div>
        <a href="#"><li>All</li></a>
        <a href="#"><li>Recent</li></a>
        <a href="#"><li>Important</li></a>
        <a href="#"><li>Search</li></a>
    </ul>
    <ul>
        <div class="title">Reports</div>
        <a href="#"><li>All</li></a>
        <a href="#"><li>Recent</li></a>
        <a href="#"><li>Important</li></a>
        <a href="#"><li>Search</li></a>
    </ul>
</div>
<div id="tabs">
    <a href="#" class="selected">Live</a>
    <a href="#">Min</a>
    <a href="#" >Hour</a>
    <a href="#">Day</a>
    <a href="#">Week</a>
    <a href="#">Month</a>
    <a href="#">Year</a>
</div>
<div id="content" class="clearfix">
    <div id="notifs" class="clearfix">
        <h2 class="title">Notifications<a href="#">edit</a></h2>
        <div id="notifcontent">
            <h2 class="header">Notif Type: datetime</h2>
            <p class="message">
                Quick notification description
            </p>
            <h2 class="header">Notif Type: datetime</h2>
            <p class="message">
                Quick notification description
            </p><h2 class="header">Notif Type: datetime</h2>
            <p class="message">
                Quick notification description
            </p><h2 class="header">Notif Type: datetime</h2>
            <p class="message">
                Quick notification description
            </p>
            <h2 class="header">Notif Type: datetime</h2>
            <p class="message">
                Quick notification description
            </p>
            <h2 class="header">Notif Type: datetime</h2>
            <p class="message">
                Quick notification description
            </p><h2 class="header">Notif Type: datetime</h2>
            <p class="message">
                Quick notification description
            </p><h2 class="header">Notif Type: datetime</h2>
            <p class="message">
                Quick notification description
            </p>
        </div>
    </div>
    <div id="info">
        <a id="title" href="edit" >CMS User Information</a>
        <div id="contentinfos">
            <form>
                <ul>
                    <li>Name: <span class="stat">{{ cmsuser.first_name }} {{ cmsuser.last_name }}</span></li>
                    <li>User Name: <span class="stat">{{ cmsuser.username }}</span></li>
                    <li>Email: <span class="stat">{{ cmsuser.email }}</span></li>
                    <li>Group permission: <span class="stat">{{ cmsuser.group.group_name }}</span></li>
                    <li>Departement: <span class="stat">{{ cmsuser.department }}</span></li>
                </ul>
            </form>
        </div>
    </div>
    <div id="history">
        <h2 class="title">History</h2>
        <table width="100%" cellpadding="2px" cellspacing="0px" border="0px">
            <tr>
                <th>Date</th>
                <th>Param 1</th>
                <th>Param 2</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>row 1, cell 1</td>
                <td>row 1, cell 2</td>
                <td>row 1, cell 3</td>
                <td>row 1, cell 4</td>
            </tr>
            <tr>
                <td>row 2, cell 1</td>
                <td>row 2, cell 2</td>
                <td>row 2, cell 3</td>
                <td>row 2, cell 4</td>
            </tr>
            <tr>
                <td>row 3, cell 1</td>
                <td>row 3, cell 2</td>
                <td>row 3, cell 3</td>
                <td>row 3, cell 4</td>
            </tr>
            <tr>
                <td>row 4, cell 1</td>
                <td>row 4, cell 2</td>
                <td>row 4, cell 3</td>
                <td>row 4, cell 4</td>
            </tr>
            <tr>
                <td>row 5, cell 1</td>
                <td>row 5, cell 2</td>
                <td>row 5, cell 3</td>
                <td>row 5, cell 4</td>
            </tr>
            <tr>
                <td>row 6, cell 1</td>
                <td>row 6, cell 2</td>
                <td>row 6, cell 3</td>
                <td>row 6, cell 4</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>