{% extends "base.html" %}
{% block localfiles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/cmsuser.css" %}" />
{% endblock %}
{% block headbar %}
    <div id="headbar_empty">
    </div>
{% endblock %}
{% block content %}
    <div id="content" class="clearfix">
        <div id="notifs" class="clearfix">
            <h2 class="title">Notifications</h2>
            <div id="notifcontent">
                <div class="header">Notif Type: datetime</div>
                <p class="message">
                    Quick notification description
                </p>
                <div class="header">Notif Type: datetime</div>
                <p class="message">
                    Quick notification description
                </p><div class="header">Notif Type: datetime</div>
                <p class="message">
                    Quick notification description
                </p><div class="header">Notif Type: datetime</div>
                <p class="message">
                    Quick notification description
                </p>
                <div class="header">Notif Type: datetime</div>
                <p class="message">
                    Quick notification description
                </p>
            </div>
        </div>
        <div id="info">
            <a id="title" >CMS User Information</a>
            <div id="contentinfos">
                <form>
                    <ul>
                        <li>
                            <label class="form_label">Name: </label>
                            <span class="stat">{{ cmsuser.first_name }} {{ cmsuser.last_name }}</span>
                        </li>
                        <li>
                            <label class="form_label">User Name:</label>
                            <span class="stat">{{ cmsuser.username }}</span>
                        </li>
                        <li>
                            <label class="form_label">Email:</label>
                            <span class="stat">{{ cmsuser.email }}</span>
                        </li>
                        <li>
                            <label class="form_label">Group permission:</label>
                            <span class="stat">{{ cmsuser.group.group_name }}</span>
                        </li>
                        <li>
                            <label class="form_label">Departement:</label>
                            <span class="stat">{{ cmsuser.department }}</span>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div id="history">
            <h2 class="title">History</h2>
            <table width="100%" cellpadding="2px" cellspacing="0px" border="0px">
                <tr>
                    <th>Date</th>
                    <th>Param 1</th>
                    <th>Param 2</th>
                    <th>Link</th>
                </tr>
                <tr>
                    <td>row 1, cell 1</td>
                    <td>row 1, cell 2</td>
                    <td>row 1, cell 3</td>
                    <td>row 1, cell 4</td>
                </tr>
                <tr>
                    <td>row 2, cell 1</td>
                    <td>row 2, cell 2</td>
                    <td>row 2, cell 3</td>
                    <td>row 2, cell 4</td>
                </tr>
                <tr>
                    <td>row 3, cell 1</td>
                    <td>row 3, cell 2</td>
                    <td>row 3, cell 3</td>
                    <td>row 3, cell 4</td>
                </tr>
                <tr>
                    <td>row 4, cell 1</td>
                    <td>row 4, cell 2</td>
                    <td>row 4, cell 3</td>
                    <td>row 4, cell 4</td>
                </tr>
                <tr>
                    <td>row 5, cell 1</td>
                    <td>row 5, cell 2</td>
                    <td>row 5, cell 3</td>
                    <td>row 5, cell 4</td>
                </tr>
                <tr>
                    <td>row 6, cell 1</td>
                    <td>row 6, cell 2</td>
                    <td>row 6, cell 3</td>
                    <td>row 6, cell 4</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}