{% extends "base.html" %}
{% block localfiles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/edit_cms.css" %}" />
{% endblock %}
{% block headbar %}
<div id="headbar_empty">

</div>
{% endblock %}
{% block content %}
<div id="content" class="clearfix">
    <div id="info">
        <h2 class="title_content">CMS User Information</h2>
        <ul>
            <li>Name: <span class="stat">{{ cmsuser.first_name }} {{ cmsuser.last_name }}</span></li>
            <li>User Name: <span class="stat">{{ cmsuser.username }}</span></li>
            <li>Email: <span class="stat">{{ cmsuser.email }}</span></li>
            <li>Group permission: <span class="stat">{{ cmsuser.group.group_name }}</span></li>
            <li>Departement: <span class="stat">{{ cmsuser.department }}</span></li>
        </ul>
    </div>
    <div id="new_infos">
        <h2 class="title_content">New Infos</h2>
        <form method="post">
            {% csrf_token %}
            <ul>
                <li>New Firstname: <input name="firstname" placeholder="{{ cmsuser.first_name }}"/></li>
                <li>New Lastname: <input name="lastname" placeholder="{{ cmsuser.last_name }}"/></li>
                <li>New User Name: <input name="username" placeholder="{{ cmsuser.username }}"/></li>
                <li>New Email: <input name="email" placeholder="{{ cmsuser.email }}"/></li>
                <li>Confirm Email: <input name="email2" placeholder="{{ cmsuser.email }}"/></li>
                <li>New Password: <input name="password" type="password"/></li>
                <li>Confirm new Password: <input name="password2" type="password"/></li>
            </ul>
            <button id="submit_button" type="submit" name="btn_newinfos" class="button_form">Submit</button>
        </form>
    </div>
</div>
{% endblock %}