{% extends "base.html" %}
{% load dictionary_extras %}
{% block localfiles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/group_manage.css" %}" />
{% endblock %}
{% block headbar %}
    <div id="headbar_empty">
        {% for error in errors %}
            <div class="error">Error : {{ error }}</div>
        {% endfor %}
    </div>
{% endblock %}
{% block content %}
    <div id="content" class="clearfix">
        <div id="newgroup">
            <div class="title_groups">
                <a class="toggle_title" href="javascript:display_inactive('new_group')">New Group Permission</a>
            </div>
            <form method='post'>
                {% csrf_token %}
                <div id="new_group" class="infos" style="display: none">
                    <div id="groupname_div">
                        <label for="groupname">Group Name</label>
                        <input type="text" id="groupname" name="groupname"/>
                    </div>
                    <div id="perms">
                        {% for perm in perms %}
                            <li>
                                <input type="checkbox" name="page_selected" value="{{ perm.id }}"/> {{ perm.name }}
                            </li>
                        {% endfor %}
                    </div>
                    <div class="submitdiv">
                        <button type="submit" name="btn_new" class="button_form">Submit</button>
                        <button type="reset" name="btn_reset" class="button_form">Reset</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="groups">
            <div class="title_groups">
                <a class="toggle_title" href="javascript:display_inactive('active_groups')">Permissions Groups</a>
            </div>
            <div id="active_groups" class="groupinfos">
                <div id="table">
                    <table width="100%" cellpadding="2px" cellspacing="0px">
                        <tbody>
                        <tr>
                            <th>Group name</th>
                            <th>Members</th>
                            <th>Rights</th>
                            <th>Delete</th>
                        </tr>
                        {% if groups %}
                            {% for group in groups %}
                                <form method="post">
                                    {% csrf_token %}
                                    <tr>
                                        <td><a href="{{ group.id }}"/>{{ group.name }} </td>
                                        <td>
                                            {% for member in group.user_set.all %}
                                                <li>
                                                    <a href="/profile/{{ member.username }}">{{ member.username }}</a>
                                                </li>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for perm in group.permissions.all %}
                                                <li>{{ perm.name }}</li>
                                            {% endfor %}
                                        </td>
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="group" value="{{ group.id }}"/>
                                            <td><button type="submit" name="btn_delgroup" class="button_form">Delete</button></td>
                                        </form>
                                    </tr>
                                </form>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="title_groups">
                <a class="toggle_title" href="javascript:display_inactive('inactive_groups')">Inactive Permissions Groups</a>
            </div>
            <div id="inactive_groups" style="display: none">
                <table width="100%" cellpadding="2px" cellspacing="0px">
                    <tr>
                        <th>Group name</th>
                        <th>Activate</th>
                    </tr>
                    {% if inactive_groups %}
                        {% for group in inactive_groups %}
                            <form method="post">
                                {% csrf_token %}
                                <tr>
                                    <td>{{ group.name }} </td>
                                    <input type="hidden" name="group" value="{{ group.name }}"/>
                                    <td><button type="submit" name="btn_active" class="button_form">Activate</button></td>
                                </tr>
                            </form>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>

    </div>
{% endblock %}