<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/clearfix.css" %}" />
    <script type="text/javascript" src="{% static "js/jquery-1.10.2.min.js" %}" ></script>
    <script type="text/javascript" src="{% static "js/test.js" %}" ></script>
</head>

<body>
<div id="login">
    <h2 id="title">Authentification Yapster CMS</h2>
    <form name="LoginForm" action="/login/" method="post">
        {% csrf_token %}
        <div class="line_form">
            <div class="label">Username</div>
            <div>
                <input type="text" class="inputlogin" id="username" name="username" placeholder="Username">
            </div>
        </div>
        <div class="line_form">
            <div class="label">Password</div>
            <div>
                <input type="password" class="inputlogin" id="password" name="password"  placeholder="Password">
            </div>
        </div>
        {% if errors %}
            {% for error in errors %}
                <div id="error_div">
                    <span class="error">{{ error }}</span>
                </div>
            {% endfor %}
        {% endif %}
        <div id="submitline">
            <button type="submit" class="button_form">Login</button>
        </div>
    </form>
</div>
</body>
