{% extends "base.html" %}
{% block localfiles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}" />

{% endblock %}
{% block headbar %}
    <div id="headbar">
    </div>
{% endblock %}
{% block content %}
    <div id="content">
        <div id="infos">
            <h2 class="title">Profile</h2>
            <div id="profile">
                <div id="image"></div>
            </div>
            <div id="stats">
                <ul>
                    <li>
                        <span class="label">First Name:</span>
                       <span class="stat">{{ profile.user.first_name }}</span>
                    </li>
                    <li>
                        <span class="label">Last Name:</span>
                        <span class="stat">{{ profile.user.last_name }}</span>
                    </li>
                    <li>
                        <span class="label">Handle: </span>
                       <span class="stat">@{{ profile.handle }}</span>
                    </li>
                    <li>
                        <span class="label">Location: </span>
                        <span class="stat">{{ profile.location_city }}, {{ profile.location_state }}</span>
                    </li>
                </ul>
                <ul>
                    <li>Yaps: <span class="stat">{{ profile.yap_count }}</span></li>
                    <li>Listening: <span class="stat">{{ profile.listening_count }}</span></li>
                    <li>Listeners: <span class="stat">{{ profile.listener_count }}</span></li>
                </ul>
            </div>
        </div>
        <div id="userstats">
            <h2 class="title">Results</h2>
            <table width="100%" cellpadding="2px" cellspacing="0px" border="0px">
                <tr>
                    <th>Header 1</th>
                    <th>Header 2</th>
                    <th>Header 3</th>
                    <th>Header 4</th>
                </tr>
                <tr>
                    <td>row 1, cell 1</td>
                    <td>row 1, cell 2</td>
                    <td>row 1, cell 3</td>
                    <td>row 1, cell 4</td>
                </tr>
                <tr>
                    <td>row 2, cell 1</td>
                    <td>row 2, cell 2</td>
                    <td>row 2, cell 3</td>
                    <td>row 2, cell 4</td>
                </tr>
                <tr>
                    <td>row 3, cell 1</td>
                    <td>row 3, cell 2</td>
                    <td>row 3, cell 3</td>
                    <td>row 3, cell 4</td>
                </tr>
                <tr>
                    <td>row 4, cell 1</td>
                    <td>row 4, cell 2</td>
                    <td>row 4, cell 3</td>
                    <td>row 4, cell 4</td>
                </tr>
                <tr>
                    <td>row 5, cell 1</td>
                    <td>row 5, cell 2</td>
                    <td>row 5, cell 3</td>
                    <td>row 5, cell 4</td>
                </tr>
                <tr>
                    <td>row 6, cell 1</td>
                    <td>row 6, cell 2</td>
                    <td>row 6, cell 3</td>
                    <td>row 6, cell 4</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}