{% extends "base.html" %}
{% block localfiles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}" />
    <script type="text/javascript" src="{% static "js/admins/profile.js" %} "></script>
{% endblock %}
{% block headbar %}
    <div id="headbar">
        {% if error %}
            {% for e in error %}
                <div class="error">{{ e }}</div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    <div id="content">
        <div id="infos">
            <h2 class="title">Profile</h2>
            <div id="profile">
                <a href="photos">
                    <div id="image">
                        <div>
                            {% if url %}
                                <img id="picture_profile" src="{{ url }}"/>
                            {% else %}
                                <div id="default_pix">Choose a pix</div>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
            <div id="stats">
                <ul>
                    <li>
                        <span class="label">First Name:</span>
                        <span class="stat">{{ cmsuser.first_name}}</span>
                    </li>
                    <li>
                        <span class="label">Last Name:</span>
                        <span class="stat">{{ cmsuser.last_name }}</span>
                    </li>
                    <li>
                        <span class="label">Handle: </span>
                        {% if yapster_account %}
                            <span class="stat">@{{ yapster_account.username }}</span>
                        {% else %}
                            <span class="stat">Unknown</span>
                        {% endif %}
                    </li>
                    <li>
                        <span class="label">Location: </span>
                        {% if userinfo %}
                            <span class="stat">{{ userinfo.user_city.city_name }}, {{ userinfo.user_country.country_name }}</span>
                        {% else %}
                            <span class="stat">Unknown</span>
                        {% endif %}
                    </li>
                </ul>
                {% if profile %}
                    <ul>
                        <li>Yaps: <span class="stat">{{ profile.yap_count }}</span></li>
                        <li>Followers: <span class="stat">{{ profile.follower_count }}</span></li>
                        <li>Followings: <span class="stat">{{ profile.following_count }}</span></li>
                    </ul>
                {% else %}
                    <div id="yapster_connect">
                        <button id="go_connect" type="button" class="button_form">Connect to Yapster Account</button>
                        <div id="input_connect" style="display: none">
                            <form method="post">
                                {% csrf_token %}
                                <label for="username">Username</label>
                                <input type="text" name="username"/>
                                <button type="submit" name="connect_button" class="button_form">Connect</button>
                            </form>
                        </div>
                    </div>

                {% endif %}
            </div>
        </div>
        <div id="userstats">
            <h2 class="title">Results</h2>
            <table width="100%" cellpadding="2px" cellspacing="0px" border="0px">
                <tr>
                    <th>Header 1</th>
                    <th>Header 2</th>
                    <th>Header 3</th>
                    <th>Header 4</th>
                </tr>
                <tr>
                    <td>row 1, cell 1</td>
                    <td>row 1, cell 2</td>
                    <td>row 1, cell 3</td>
                    <td>row 1, cell 4</td>
                </tr>
                <tr>
                    <td>row 2, cell 1</td>
                    <td>row 2, cell 2</td>
                    <td>row 2, cell 3</td>
                    <td>row 2, cell 4</td>
                </tr>
                <tr>
                    <td>row 3, cell 1</td>
                    <td>row 3, cell 2</td>
                    <td>row 3, cell 3</td>
                    <td>row 3, cell 4</td>
                </tr>
                <tr>
                    <td>row 4, cell 1</td>
                    <td>row 4, cell 2</td>
                    <td>row 4, cell 3</td>
                    <td>row 4, cell 4</td>
                </tr>
                <tr>
                    <td>row 5, cell 1</td>
                    <td>row 5, cell 2</td>
                    <td>row 5, cell 3</td>
                    <td>row 5, cell 4</td>
                </tr>
                <tr>
                    <td>row 6, cell 1</td>
                    <td>row 6, cell 2</td>
                    <td>row 6, cell 3</td>
                    <td>row 6, cell 4</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}