<div id="all_stats">
    <div id="tabs">
                <div class="tab_option">
                <span class="tab_green icone">
                   Total
                </span>
                </span>
                <span class="tab_option">
                <span class="tab_green icone">
                   Min
                </span>
                </span>
                <span class="tab_option">
                <span class="tab_green icone">
                    Hour
                </span>
                </span>
                <span class="tab_option">
                <span class="tab_green icone">
                    Day
                </span>
                </span>
        {% if more_data %}
            <span class="tab_option">
                <span class="tab_green icone">
                    Week
                </span>
                </span>
            <span class="tab_option">
                <span class="tab_green icone">
                    Month
                </span>
                </span>
            <span class="tab_option">
                <span class="tab_green icone">
                    Year
                </span>
                </span>
        {% else %}
            <span class="tab_option">
                <span class="tab_green icone">
                    More
                </span>
                </span>
        {% endif %}
    </div>
</div>