<div id="location_selection">
    <div class="location_option">
        <label class="label_location_option" for="country">Country</label>
        <select id="country" class="select_location">
            <option value="0">No Countries</option>
            {% for country in countries %}
                <option value="{{ country.country_id}}">{{ country.country_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="state_option" class="location_option" style="display: none">
    </div>
    <div id="city_option" class="location_option" style="display: none">
    </div>
    <div class="location_option">
        <label class="label_location_option" for="gender">Gender</label>
        <select id="gender" class="select_location">
            <option value="n">No Gender</option>
            <option value="m">Male</option>
            <option value="f">Female</option>
            <option value="o">Other</option>
        </select>
    </div>
    <div class="location_option">
        <label class="label_location_option" for="age">Age Range</label>
        <input id="from_age" type="number" name="from_age" min="13" max="99" value="13"> To*
        <input id="to_age" type="number" name="to_age" min="13" max="99" value="99">
    </div>
    <div id="location_submit">
        <form method="post">
            {% csrf_token %}
            <button type="submit" id="location_button" class="button_form">Submit</button>
        </form>
    </div>
</div>