<div class="user_details_container">
    <div class="header_user_details">
          <span>{{ u.first_name }} {{ u.last_name }}</span>
    </div>
    <div class="details_container">
        <div class="gender">
            <span class="title_entry">Gender</span>
            <span class="value_entry">{{ u.profile.gender }}</span>
        </div>
        <div class="like_count">
            <span class="title_entry">Like Count</span>
            <span class="value_entry">{{ u.profile.like_count }}</span>
        </div>
        <div class="listen_count">
            <span class="title_entry">Listen Count</span>
            <span class="value_entry">{{ u.profile.listen_count }}</span>
        </div>
        <div class="reyap_count">
            <span class="title_entry">Reyap Count</span>
            <span class="value_entry">{{ u.profile.reyap_count }}</span>
        </div>
        <div class="date_of_birth">
            <span class="title_entry"> Date of Birth</span>
            <span class="value_entry">{{ u.profile.date_of_birth }}</span>
        </div>
        <div class="user_city">
            <span class="title_entry">City</span>
            <span class="value_entry">{{ u.profile.user_city.city_name }}</span>
        </div>
        <div class="user_us_state">
            <span class="title_entry">Us State</span>
            <span class="value_entry">{{ u.profile.user_us_state.us_state_name }}</span>
        </div>
        <div class="user_us_zip_code">
            <span class="title_entry">Zipcode</span>
            <span class="value_entry">{{ u.profile.user_us_zip_code.us_zip_code }}</span>
        </div>
        <div class="user_country">
            <span class="title_entry">Country</span>
            <span class="value_entry">{{ u.profile.user_country.country_name }}</span>
        </div>
        <div class="phone_number">
            <span class="title_entry">Phone Number</span>
            <span class="value_entry">{{ u.profile.phone_number }}</span>
        </div>
        <div class="verified_account_flag">
            <span class="title_entry">Account Verified</span>
            <span class="value_entry">{{ u.profile.verified_account_flag }}</span>
        </div>
        <div class="listen_stream_public">
            <span class="title_entry">Stream is Public</span>
            <span class="value_entry">{{ u.profile.listen_stream_public }}</span>
        </div>
        <div class="posts_are_private">
            <span class="title_entry">Private Posts</span>
            <span class="value_entry">{{ u.profile.posts_are_private }}</span>
        </div>
        <div class="is_active">
            <span class="title_entry">Is Active</span>
            <span class="value_entry">{{ u.profile.is_active }}</span>
        </div>
        <div class="is_user_deleted">
            <span class="title_entry">User Deleted</span>
            <span class="value_entry">{{ u.profile.is_user_deleted }}</span>
        </div>
        {#    <div class="">#}
        {#        <span class="title_entry"></span>#}
        {#        <span class="value_entry">{{ u. }}</span>#}
        {#    </div>#}
        {#    <div class="">#}
        {#        <span class="title_entry"></span>#}
        {#        <span class="value_entry">{{ u. }}</span>#}
        {#    </div>#}
        {#    <div class="">#}
        {#        <span class="title_entry"></span>#}
        {#        <span class="value_entry">{{ u. }}</span>#}
        {#    </div>#}
        {#    <div class="">#}
        {#        <span class="title_entry"></span>#}
        {#        <span class="value_entry">{{ u. }}</span>#}
        {#    </div>#}
    </div>
</div>