<div class="user_details_container">
    <div class="line_stat_user">
        <span class="text_stats">Yaps</span>
        <span class="number_stat"><a href="/users/{{ u }}/yaps/">{{ u.profile.yap_count }}</a></span>
    </div>
    <div class="line_stat_user">
        <span class="text_stats">Following</span>
        <span class="number_stat"><a href="/users/{{ u }}/following/">{{ u.profile.following_count }}</a></span>
    </div>
    <div class="line_stat_user">
        <span class="text_stats">Followers</span>
        <span class="number_stat"><a href="/users/{{ u }}/followers/">{{ u.profile.follower_count }}</a></span>
    </div>
    <div class="gender line_stat_user">
        <span class="text_stats">Gender</span>
        <span class="number_stat">{{ u.profile.gender }}</span>
    </div>
    <div class="like_count line_stat_user">
        <span class="text_stats">Like Count</span>
        <span class="number_stat">{{ u.profile.like_count }}</span>
    </div>
    <div class="listen_count line_stat_user">
        <span class="text_stats">Listen Count</span>
        <span class="number_stat">{{ u.profile.listen_count }}</span>
    </div>
    <div class="reyap_count line_stat_user">
        <span class="text_stats">Reyap Count</span>
        <span class="number_stat">{{ u.profile.reyap_count }}</span>
    </div>
    <div class="date_of_birth line_stat_user">
        <span class="text_stats"> Date of Birth</span>
        <span class="number_stat">{{ u.profile.date_of_birth }}</span>
    </div>
    <div class="user_city line_stat_user">
        <span class="text_stats">City</span>
        <span class="number_stat">{{ u.profile.user_city.city_name }}</span>
    </div>
    <div class="user_us_state line_stat_user">
        <span class="text_stats">Us State</span>
        <span class="number_stat">{{ u.profile.user_us_state.us_state_name }}</span>
    </div>
    <div class="user_us_zip_code line_stat_user">
        <span class="text_stats">Zipcode</span>
        <span class="number_stat">{{ u.profile.user_us_zip_code.us_zip_code }}</span>
    </div>
    <div class="user_country line_stat_user">
        <span class="text_stats">Country</span>
        <span class="number_stat">{{ u.profile.user_country.country_name }}</span>
    </div>
    <div class="phone_number line_stat_user">
        <span class="text_stats">Phone Number</span>
        <span class="number_stat">{{ u.profile.phone_number }}</span>
    </div>
    <div class="verified_account_flag line_stat_user">
        <span class="text_stats">Account Verified</span>
        <span class="number_stat">{{ u.profile.verified_account_flag }}</span>
    </div>
    <div class="listen_stream_public line_stat_user">
        <span class="text_stats">Stream is Public</span>
        <span class="number_stat">{{ u.profile.listen_stream_public }}</span>
    </div>
    <div class="posts_are_private line_stat_user">
        <span class="text_stats">Private Posts</span>
        <span class="number_stat">{{ u.profile.posts_are_private }}</span>
    </div>
    <div class="is_active line_stat_user">
        <span class="text_stats">Is Active</span>
        <span class="number_stat">{{ u.profile.is_active }}</span>
    </div>
    <div class="is_user_deleted line_stat_user">
        <span class="text_stats">User Deleted</span>
        <span class="number_stat">{{ u.profile.is_user_deleted }}</span>
    </div>
</div>