.title_contact, .title_note {
    background-color: #15D400;
	height:9%;
	border:1px #15D400 solid;
	text-align:center;
	color: #ffffff;
	line-height:38px;
    font-size: 14px;
    margin-bottom: 25px;
}

.subcontent {
    width:45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px #15D400 solid;
    text-align: center;
}

.line_contact {
    margin-bottom: 10px;
    font-size: 12px;
    display: table;
}

.note {
    margin-bottom: 10px;

}

#img_note {
    width: 40px;
    height: 40px;
}

#input_note {
    resize: none;
    width: 80%;
}

.user_note {

}

.date_note {

}

.desc_note {

}