#listname{
    width:60%;
    margin-left: 150px;
    margin-bottom: 38px;
    float: left;
}

.title_contacts{
    background-color: #15D400;
    height:9%;
    border:1px #15D400 solid;
    text-align:center;
    color: #ffffff;
    line-height:38px;
    font-size: 14px;
}

#contact {
    width:60%;
    margin-left: 150px;
    margin-bottom: 10px;
    border: 1px #15D400 solid;
    float: left;
}

.title:hover {
    color: black;
}

#contactname {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    color: #15D400;
}

.line {
    margin-bottom: 10px;
    font-size: 12px;
}