#content {
    float: left;
    width: 870px;
}

#newannounce{
    width:740px;
    height:175px;
    float: left;
    margin-left: 3%;
    margin-bottom: 38px;
}

#announcements_list{
    width:742px;
    height:57%;
    float: left;
    margin-left: 3%;
}

#announcements_list .title{
    width:100%;
    height:38px;
    text-align:center;
    line-height:38px;
    font-size: 14px;
    border-bottom:1px #15D400 solid;
    background-color: #15D400;
    color: #ffffff;
}

##newannounce .title {

}

#table table td {
    text-align: center;
    line-height: 40px;
}

.line{
    width: 535px;
    line-height: 20px;
    font-size: 14px;
    margin-top: 20px;
    float: left;
}

.line label {
    width: 120px;
    text-align: left;
    display: inline-block;
}

.line input {
    width: 270px;
    position: relative;
}

.submitdiv {
    width: 100px;
    float: right;
    margin-right: 50px;
}

#up_button {
    margin-bottom: 10px;
}

#infos {
    border: 1px #15D400 solid;
    height: 140px;
    margin-top: 40px;
}

#infos textarea {
    width: 270px;
    height: 35px;
}

#announce_title {
    background-color: #15D400;
    color: #ffffff;
    border: 1px #15D400 solid;
    width: 738px;
    margin-bottom: 10px;
}