#info{
    width:40%;
    float: left;
    margin-left: 3%;
    border: 1px #15D400 solid;
}
.title_content{
    background-color: #15D400;
    height:9%;
    border:1px #15D400 solid;
    text-align:center;
    color: #ffffff;
    line-height:38px;
    font-size: 14px;
}
#info ul li{
    min-height:52px;
    border-top:1px #15D400 solid;
    padding:0 15px;
    font-size: 12px;
    line-height:52px;
}
.stat{
    color:#15D400 !important;
}
.info .hashtags a{
    color:#15D400 !important;
    text-transform: none !important;
}

#new_infos{
    width:460px;
    float: left;
    margin-left: 3%;
    border: 1px #15D400 solid;
}

#new_infos ul li{
    min-height:52px;
    border-bottom:1px #15D400 solid;
    padding:0 15px;
    font-size: 12px;
    line-height:52px;
}

button {
    margin-left: 200px;
}

#submit_button {
    margin-top: 10px;
    margin-bottom: 10px;
}