#stats {
    float: left;
	width:53%;
	height:57%;
    margin-left: 8%;
    border: 1px #15D400 solid;
}

#stats .title{
    height:38px;
    line-height:40px;
    font-size: 14px;
    text-align:center;
    border:1px #15D400 solid;
    color: #ffffff;
    background-color: #15D400;
}

.mainstat{
	min-height:60px;
	border-top:none;
	padding-left:15px;
}
.mainstat .number,.mainstat .label{
	display:inline;
	font-size: 14px;
	line-height: 60px;
}
.mainstat .number{
    padding-left: 10px;
	color:#15D400;
}
.mainstat .hashtags a{
	color:#15D400 !important;
	text-transform: none !important;
}
.mainstat .extend{
	display:block !important;
	background-color:#15D400;
	color:black;
	text-align:center;
	border-bottom:1px #000 solid;
	border-right:none !important;
}