*{
    margin: 0;
    outline: 0;
}

div, textarea, input {
    font-family: Arial,Helvetica,sans-serif;
}

body,html{
    background-color: white;
    height:100%;
}
a{
    color:black;
    text-decoration: none;
    text-transform: capitalize;

}

.wrapper{
    position:relative;
}
#header{
    height:74px;
    padding:0 15px;
    line-height:74px;
    font-size:11px;
    background-color: #15D400;
    width: 100%;
}
#header .title{
    float:left;
    font-size:40px;
    text-align: center;
    color: #000000;
}

#header a {
    float:right;
    position:relative;
    color: #ffffff;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 20px;
}

#header a:hover {
    color: black;
}

#header .icone {
    float: right;
    margin-top: 26px;
    padding-left: 10px;
    width: 18px;
    height: 21px;
}

#sidebar{
    width:140px;
    font-weight: bold;
    float:left;
}

#sidebar .title{
    line-height: 40px;
    height:38px;
    font-size: 14px;
}

#sidebar li {
    line-height: 40px;
    height:38px;
    font-size: 14px;
    font-weight: lighter;
}

#fix_left_side {

}

ul,ol,li{
    padding:0;
    list-style: none;
    list-style-position: inside;
}
ul li, ol li{
    padding: 0 10px;
    text-align: center;
}
#sidebar ul .title{
    font-weight:bold;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}
#sidebar ul:first-child .title{
    border-top:none;
}
#sidebar ul li.selected:after{
    content:" ";
    width:0;
    height:0;
    border-style:solid;
    border-width:5px;
    border-color: transparent transparent transparent black !important;
    right:0;
    top:7.5px;
    position: absolute;
}
#sidebar ul li.selected{
    background-color: #efefef;
}
#sidebar ul li{
    cursor: pointer;
}
#sidebar ul li:hover:after{
    content:" ";
    width:0;
    height:0;
    border-style:solid;
    border-width:5px;
    border-color: transparent transparent transparent black;
    right:0;
    top:7.5px;
    position: absolute;
}
#sidebar ul li:hover{
    background-color: #ccc;
}
#sidebar ul a:last-child{
    border-bottom: 1px #000 solid;
}
#sidebar ul:last-child a:last-child{
    border-bottom:none;
}

.selected_tab li {
    background-color: #ccc;
}


table tr:nth-child(odd){
    background-color:#efefef;
}

table th{
    font-size:14px;
    text-align: center;
}
table tr td, table tr th{
    border-right:1px #15D400 solid;
    text-align: center;
    height: 38px;
    font-size: 13px;
}
table tr td:last-child,table tr th:last-child{
    border-right:none;
}
.contain{
    width:960px;
    margin:0 auto;
}

#content{
    margin-left: 180px;
    margin-right: 322px;

    overflow: hidden;
}


#announcements{
    float:right;
    width:280px;
    height: 320px;
    border:1px #15D400 solid;
    position: relative;
    margin-bottom: 5px;
    margin-top: 38px;
}

.chater {
    cursor: pointer;
    width: 230px;
    float: left;
}

.chater:hover {
    color: #15D400;
}

.on {
    color: #15D400;
}

#messager {

}



.right_title{
    background-color: #15D400;
    width:85%;
    text-align:center;
    color: #ffffff;
    border-bottom:1px #15D400 solid;
    line-height:38px;
    position:absolute;
    font-size: 14px;
    font-weight: bold;
}

.right_title:hover {
    color: #000000;
}

#announcementcontent .message {
    padding-bottom: 15px;
    border-bottom: 1px #15D400 solid;
}

#announcementcontent{
    overflow-y:scroll;
    height:85%;
}

#announcements .header.important{
    color: #15D400;
}

#announcements p, #announcements .header{
    font-size: 13px;
    padding:15px 15px 0 15px;
}

#announcements p:last-child{
    padding:15px;
    border-bottom: none;
}

#conversations {
}

#conversation {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.line {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px #15D400 solid;
    height: 15px;
}




#messages {
    height: 200px;
    margin-top: 10px;
    font-size: 11px;
}

#message_line {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #efefef;
}

#message {
    width: 90%;
}

.author {
    margin: 5px;
}

.text {
    margin: 10px;
    padding: 8px;
    width: 70%;
    background-color: #efefef;
}

.button_form {
    width: 70px;
    height: 24px;
    background-image: url("../images/buttons/bttnBG_submit.png");
    color : white;
    font-family: Arial,Helvetica,sans-serif;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.grey_bar {
    background-image: url("../images/buttons/BG-grey-gradient.png");
    padding: 12px;
}

.button_form:hover {
    color: #000000;
}

#headbar_empty {
    height:38px;
    font-size: 14px;
    width:100%;
    background-color: #000000;
}

.title {
    background-color: #15D400;
    color: #ffffff;
}

.selected_icone {
    color: black !important;
}

.icone {
    display: inline-block;
    background: url("../images/icones/icones.png") no-repeat;
}

#home_icone {background-position: 0% 1.5%}
#search_icone {background-position: 14% 1.5%}
#cmsuser_icone {background-position: 28% 1.5%}
#cmsusers_icone {background-position: 83% 1.5%}
#perms_icone {background-position: 69% 1.5%}
#contacts_icone {background-position: 96% 1.5%}
#settings_icone {background-position: 41% 1.5%}
#logout_icone {background-position: 55% 1.5%}


#home_icone.selected_icone {background-position: 0% 8.5%}
#search_icone.selected_icone {background-position: 14% 8.5%}
#cmsuser_icone.selected_icone {background-position: 28% 8.5%}
#cmsusers_icone.selected_icone {background-position: 83% 8.5%}
#perms_icone.selected_icone {background-position: 69% 8.5%}
#contacts_icone.selected_icone {background-position: 96% 8.5%}
#settings_icone.selected_icone {background-position: 41% 8.5%}
#logout_icone.selected_icone {background-position: 55% 8.5%}

.delete_conversation_icone{
    background-position: 44% 89%;
    width: 20px;
    height: 20px;
}

.delete_conversation_icone:hover {
    background-position: 56% 89%;
}

#new_conversation_icone {
    background-position: 1% 13.5%;
    width: 29px;
    height: 35px;
    margin-left: 230px;
}

#new_conversation_icone:hover, #new_announcement_icone:hover {
    opacity: 0.6;
}

#new_announcement_icone{
    background-position: 70% 13.5%;
    width: 29px;
    height: 35px;
    margin-left: 230px;
}

#head_announcement, #head_messager {
    background-color: #15D400;
}

.link_chat {
    display: block;
}

#new_conversation {
    position:fixed;
    width:128px;
    z-index:9999;
    background-color: #8b8b8d;
    top: 330px;
    right: 16px;
}

.chat_user {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.chat_user:hover, .chat_user.selected {
    color: #15D400;
}

#new_chat {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    background-color: #b2b2b3;
    color: white;
}

#new_chat:hover {
    color: #000000;
}

#more_conversations {
    float:left;
    width: 50px;
    height: 20px;
    margin-left: 112px;
    text-align: center;
    background-position: 20% 91%;
    color: white;
    cursor: pointer;
}

#more_conversations:hover {
    color: #000000;
}

.hide_conversation {
    float: left;
}

.hashtag {
    color: #15D400;
}


.country {
    color: #d40e00;
}

.user {
    color: #000ad4;
}

.hashtag:hover, .country:hover {
    color : black
}


.error {
    color: red;
}

.line_form{
    line-height: 15px;
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 30px;
    float: left;
}

.line_form label {
    display: inline-block;
    width: 120px;
}

.line_form input {
    padding-left: 10px;
    position: relative;
}

#messenger_div {
    float: right;
    width: 280px;
    border: 1px #15D400 solid;
    margin-left: 4%;
    position: fixed;
    bottom: 0px;
    right: 0;
    z-index: 1;
    background-color: white;
}

.error {
    font-size: 10px;
    color: red;
}


.user_link {
    color: indigo;
}

.country_link {
    color: red;
}

.hashtag_link {
    color: orange;
}

.yap_link {
    color: green;
}

.reyap_link {
    color: darkgreen;
}

.like_link {
    color: darkorange;
}

.listen_link {
    color: saddlebrown;
}

.channel_link {
    color: navy;
}

.report_link {
    color: hotpink;
}

.user_link:hover, .country_link:hover,
.hashtag_link:hover, .reyap_link:hover,
.channel_link:hover, .listen_link:hover,
.report_link:hover
{
    text-decoration: underline;
}


/* Users listing*/

.users_listing {
}

#left_side_users_listing {
    width: 45%;
    float: left;
}

#header_users_listing, .header_user_details {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #15D400;
    height: 38px;
    font-weight: bold;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 38px;
}

#list_users_container{
    float: left;
    width: 100%;
}

.user_container {
    border: 1px #000000 solid;
    font-size: 12px;
    margin-bottom: 25px;
    float: left;
}

.pix_user {
    float: left;
    margin-left: 10px;
    height: 100%;
}

.upper_user {
    width: 400px;
}

.picture_profile_container{
    float: left;
}

.picture_profile {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.upper_right_side {
    overflow: hidden;
}

.line_user_info {
    height: 31px;
    margin-bottom: 20px;
    float: left;
    margin-top: 12px;
}

.civil_names {
    margin-right: 5px;
    font-weight: bold;
}

.handle {
    color: #8b8b8d;
}

.description_user {
    float: left;
    width: 300px;
    margin-left: 8px;
    height: 60px;
}

.stats_user_container {
    width: 20%;
    float: left;
}

.details_button {
    margin-top: 5px;
    float:right;
    margin-left: 33px;
}

.text_stats {

}

.number_stat {
    float: right;
    margin-right: 10px;
    color: #15D400;
}

.line_stat_user:hover {
    color: #15D400;
}

#right_side_users_listing {
    float: right;
    width: 45%;
}

.first_line {
    width: 100px;
}

.main_user {
    float: left;
    margin: 10px;
    margin-left: 40px;
}

.line_stat_user {
    float: left;
    width: 190px;
    padding-bottom: 10px;
    text-align: left;
}

.header_user {
    margin-top: 8px;
    width: 70%;
    text-align: left;
}

.more_details_user {
    overflow: hidden;
    font-size: 11px;
    border-top: 1px black solid;
    margin-top: 10px;
    padding: 10px;
}

.no_pix_article {

}