*{
    margin: 0;
    outline: 0;
}

div {
    font-family: Arial,Helvetica,sans-serif;
}

body,html{
    background-color: white;
    height:100%;
}
a{
    color:black;
    text-decoration: none;
    text-transform: capitalize;

}

.wrapper{
    position:relative;
}
#header{
    height:74px;
    padding:0 15px;
    line-height:74px;
    font-size:11px;
    background-color: #15D400;
    width: 100%;
}
#header .title{
    float:left;
    font-size:40px;
    text-align: center;
    color: #000000;
}

#header a {
    float:right;
    position:relative;
    color: #ffffff;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 20px;
}

#header a:hover {
    color: black;
}

#header .icone {
    float: right;
    margin-top: 26px;
    padding-left: 10px;
    width: 18px;
    height: 21px;
}

#sidebar{
    width:140px;
    font-weight: bold;
    float:left;
}

#sidebar .title{
    line-height: 40px;
    height:38px;
    font-size: 14px;
}

#sidebar li {
    line-height: 40px;
    height:38px;
    font-size: 14px;
    font-weight: lighter;
}

#fix_left_side {

}

ul,ol,li{
    padding:0;
    list-style: none;
    list-style-position: inside;
}
ul li, ol li{
    padding: 0 10px;
    text-align: center;
}
#sidebar ul .title{
    font-weight:bold;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}
#sidebar ul:first-child .title{
    border-top:none;
}
#sidebar ul li.selected:after{
    content:" ";
    width:0;
    height:0;
    border-style:solid;
    border-width:5px;
    border-color: transparent transparent transparent black !important;
    right:0;
    top:7.5px;
    position: absolute;
}
#sidebar ul li.selected{
    background-color: #efefef;
}
#sidebar ul li{
    cursor: pointer;
}
#sidebar ul li:hover:after{
    content:" ";
    width:0;
    height:0;
    border-style:solid;
    border-width:5px;
    border-color: transparent transparent transparent black;
    right:0;
    top:7.5px;
    position: absolute;
}
#sidebar ul li:hover{
    background-color: #ccc;
}
#sidebar ul a:last-child{
    border-bottom: 1px #000 solid;
}
#sidebar ul:last-child a:last-child{
    border-bottom:none;
}

.selected_tab li {
    background-color: #ccc;
}

.silver{
    background: rgb(239,239,239); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(239,239,239,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
}

table tr:nth-child(odd){
    background-color:#efefef;
}

table th{
    font-size:14px;
    text-align: center;
}
table tr td, table tr th{
    border-right:1px #15D400 solid;
    text-align: center;
    height: 38px;
    font-size: 13px;
}
table tr td:last-child,table tr th:last-child{
    border-right:none;
}
.contain{
    width:960px;
    margin:0 auto;
}

#content{
    margin-left: 3%;
    margin-top: 38px;
    overflow: hidden;
}


#announcements{
    float:right;
    width:280px;
    height: 320px;
    border:1px #15D400 solid;
    position: relative;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 38px;
}

.chater {
    cursor: pointer;
    width: 230px;
    float: left;
}

.chater:hover {
    color: #15D400;
}

.on {
    color: #15D400;
}

#messager {

}



.right_title{
    background-color: #15D400;
    width:85%;
    text-align:center;
    color: #ffffff;
    border-bottom:1px #15D400 solid;
    line-height:38px;
    position:absolute;
    font-size: 14px;
    font-weight: bold;
}

.right_title:hover {
    color: #000000;
}

#announcementcontent .message {
    padding-bottom: 15px;
    border-bottom: 1px #15D400 solid;
}

#announcementcontent{
    overflow-y:scroll;
    height:85%;
}

#announcements .header.important{
    color: #15D400;
}

#announcements p, #announcements .header{
    font-size: 13px;
    padding:15px 15px 0 15px;
}

#announcements p:last-child{
    padding:15px;
    border-bottom: none;
}

#conversations {
}

#conversation {
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.line {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px #15D400 solid;
    height: 15px;
}




#messages {
    height: 200px;
    margin-top: 10px;
    font-size: 11px;
}

#message_line {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #efefef;
}

#message {
    width: 90%;
}

.author {
    margin: 5px;
}

.text {
    margin: 10px;
    padding: 8px;
    width: 70%;
    background-color: #efefef;
}

.button_form {
    width: 70px;
    height: 24px;
    background-image: url("../images/buttons/bttnBG_submit.png");
    color : white;
    font-family: Arial,Helvetica,sans-serif;
    border: none;
    cursor: pointer;
}

.button_form:hover {
    color: #000000;
}

#headbar_empty {
    height:38px;
    font-size: 14px;
    width:100%;
    background-color: #000000;

}

.title {
    background-color: #15D400;
    color: #ffffff;
}

.selected_icone {
    color: black !important;
}

.icone {
    display: inline-block;
    background: url("../images/icones/icones.png") no-repeat;
}

#home_icone {background-position: 0% 3%}
#search_icone {background-position: 14% 3%}
#cmsuser_icone {background-position: 28% 3%}
#cmsusers_icone {background-position: 83% 3%}
#perms_icone {background-position: 69% 3%}
#contacts_icone {background-position: 96% 3%}
#settings_icone {background-position: 41% 3%}
#logout_icone {background-position: 55% 3%}


#home_icone.selected_icone {background-position: 0% 17%}
#search_icone.selected_icone {background-position: 14% 17%}
#cmsuser_icone.selected_icone {background-position: 28% 17%}
#cmsusers_icone.selected_icone {background-position: 83% 17%}
#perms_icone.selected_icone {background-position: 69% 17%}
#contacts_icone.selected_icone {background-position: 96% 17%}
#settings_icone.selected_icone {background-position: 41% 17%}
#logout_icone.selected_icone {background-position: 55% 17%}

.delete_conversation_icone{
    background-position: 44% 89%;
    width: 20px;
    height: 20px;
}

.delete_conversation_icone:hover {
    background-position: 56% 89%;
}

#new_conversation_icone {
    background-position: 1% 28%;
    width: 29px;
    height: 35px;
    margin-left: 230px;
}

#new_conversation_icone:hover, #new_announcement_icone:hover {
    opacity: 0.6;
}

#new_announcement_icone{
    background-position: 70% 28%;
    width: 29px;
    height: 35px;
    margin-left: 230px;
}

#head_announcement, #head_messager {
    background-color: #15D400;
}

.link_chat {
    display: block;
}

#new_conversation {
    position:fixed;
    width:128px;
    z-index:9999;
    background-color: #8b8b8d;
    top: 330px;
    right: 16px;
}

.chat_user {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.chat_user:hover, .chat_user.selected {
    color: #15D400;
}

#new_chat {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    background-color: #b2b2b3;
    color: white;
}

#new_chat:hover {
    color: #000000;
}

#more_conversations {
    float:left;
    width: 50px;
    height: 20px;
    margin-left: 112px;
    text-align: center;
    background-position: 20% 91%;
    color: white;
    cursor: pointer;
}

#more_conversations:hover {
    color: #000000;
}

.hide_conversation {
    float: left;
}

.hashtag {
    color: #15D400;
}


.country {
    color: #d40e00;
}

.user {
    color: #000ad4;
}

.hashtag:hover, .country:hover {
    color : black
}


.error {
    color: red;
}

.line_form{
    line-height: 15px;
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 30px;
    float: left;
}

.line_form label {
    display: inline-block;
    width: 120px;
}

.line_form input {
    padding-left: 10px;
    position: relative;
}

#messenger_div {
    float: right;
    width: 280px;
    border: 1px #15D400 solid;
    margin-left: 4%;
    position: fixed;
    bottom: 0px;
    right: 0;
    z-index: 1;
    background-color: white;
}