#tabs {
    margin-bottom: 6px;
}

#stats{
	width:717px;
    float: left;
    margin-left: 38px;
    border: 1px #15D400 solid;
}

#stats .title{
    height:38px;
    line-height:40px;
    font-size: 14px;
    text-align:center;
    border:1px #15D400 solid;
    color: #ffffff;
    background-color: #15D400;
}

.leftstats {
    float: left;
    width: 49.5%;
}
.rightstats {
    float: right;
    width: 49.5%;
    border-left: 1px #15D400 solid;
}

.mainstat{
	min-height:48px;
	border-top:none;
	padding-left:15px;
}
.mainstat .number,.mainstat .label{
	display:inline;
	font-size: 12px;
	line-height:50px;
}
.mainstat .number{
	color:#15D400;
}
.mainstat .hashtags a{
	color:#15D400 !important;
	text-transform: none !important;
}
.mainstat .extend{
	display:block !important;
	background-color:#15D400;
	color:black;
	text-align:center;
	border-bottom:1px #000 solid;
	border-right:none !important;
}