#stats_headbar {
    height: 38px;
    background-color: #000000;
}

#content {
    margin-top: 0px;
}

#stats_title{
    height: 38px;
    line-height: 38px;
    font-weight: bold;
}

#stats_description {
    height: 38px;
    font-size: 11px;
    line-height: 15px;
}

#location_selection {
    border: 1px #15D400 solid;
    margin-top: 10px;
    margin-bottom: 20px;
    display: table;
}

.location_option {
    display: table-cell;
    width: 240px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 12px;
}

.label_location_option {
    width:10px;
    font-size: 12px;
}

.select_location {
    display: inline-block;
    float: right;
    margin-right: 30px;
    width: 110px;
    font-size: 12px;
}

#stats{
}

#all_stats {
    margin-top: -11px;
}

table tr th {
    width: 10%;
    font-size: 11px;
    border-right: 1px #cccccc solid;
}

tr:hover {
    font-weight: bold;
}

table tr td {
    font-size: 11px;
    border-right: 1px #cccccc solid;
}

.label_table {
    font-weight: bold;
}

.results_table {
    font-weight: lighter;
}

#location_submit {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#specific_search {
    margin-bottom: 20px;
    margin-top: -11px;
}

#general_stats_table {
    border: 1px #15D400 solid;
    float:left;
}

.specific_search_table{
    border: 1px #15D400 solid;
    margin-top: -11px;
}

.hide {
    background-color: white;
    opacity: 1.0;
    cursor: pointer;
    border: none;
}

.hide:hover {
    cursor: pointer;
}



#from_age, #to_age {
    width: 47px;
    margin-left: 10px;
    margin-right: 10px;
}

#loading_image {

}

/* Users details */


/* Custom Table */

.table_stats {
    width: 100%;
    height: 100%;
    float: left;
    margin-top: -11px;
    display: table;
    table-layout: fixed;
    font-size: 11px;
}

.col_stats {
    text-align: center;
    display: table-cell;
}

#title_col {
    width: 20%;
    font-weight: bold;
}

.icone_tab {
    display: inline-block;
    width: 100px;
}

.cell {
    height: 30px;
    border: 1px #8b8b8d solid;
    vertical-align: middle;
    text-align: center;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab_icone {
    margin-bottom: 10px;
    cursor: pointer;
}

.stats_container {
}