#cmsusers{
	width:872px;
	height:57%;
    float: left;
    margin-left: 3%;
}

#cmsusers .title{
    background-color: #15D400;
	height:9%;
	border:1px #15D400 solid;
	text-align:center;
	color: #ffffff;
	line-height:38px;
    font-size: 14px;
}

#newcmsuser{
    width:100%;
	height:72%;
    float: left;
    margin-left: 3%;
    border: 1px #15D400 solid;
}

#title_new_user {
    background-color: #15D400;
	height:9%;
	border:1px #15D400 solid;
	text-align:center;
	color: #ffffff;
	line-height:38px;
    font-size: 14px;
}

#table table td {
    text-align: center;
    line-height: 40px;
}

.line_form{
	line-height: 15px;
	font-size: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 30px;
    float: left;
}

.line_form label {
    display: inline-block;
    width: 120px;
}

.line_form input {
    padding-left: 10px;
    position: relative;
}

.submitdiv {
    padding-top: 120px;
    padding-left: 700px;
}

.cmsuser {
    border: 1px #15D400 solid;
}

.toggle_title {
    color: #ffffff;
    font-weight: bold;
}

.toggle_title:hover {
    color: #000000;
}