{% extends "base.html" %}
{% block localfiles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/db_manager/home.css" %}" />
    <script type="text/javascript" src="{% static "js/search/index.js" %} "></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}
{% block headbar %}
    <div id="headbar_empty">
        <span id="text_headbar">Search</span>
    </div>
{% endblock %}
{% block content %}
    <div id="content">
        <div id="ec2instances">
            <div class="title_instances">
                <a class="toggle_title">EC2 Instances</a>
            </div>
            <div id="ec2dbs">
                <table cellpadding="2px" cellspacing="0px">
                    <tr>
                        <th>EC2 Instance Name</th>
                        <th>Instance ID</th>
                        <th>Instance State</th>
                        <th>Launch Time</th>
                    </tr>
                    {% for instance in ec2instances %}
                        <tr class="db_raw" onclick="document.location = 'ec2/{{ instance.id }}';">
                            <td>{{ instance.public_dns_name }}</td>
                            <td>{{ instance.id }} Gb</td>
                            <td class="{{ instance.state }}">{{ instance.state }}</td>
                            <td>{{ instance.launch_time }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}