<div class="research">
    <label id="label_search_expression" >Search expression</label>
    <input id="input_search_expression" type="text" name="searchexp"/>
</div>
<div class="group">
    <div class="line_search">
        <label>Hashtag ID</label>
        <input type="number" name="hashtag_id"/>
    </div>
    <div class="line_search">
        <label>Hashtag Name</label>
        <input type="text" name="hashtag_name"/>
    </div>
</div>
<div class="group">
    <div class="line_search">
        <label>Date Created</label>
        <input type="date" name="date_created"/>
    </div>
    <div class="line_search">
        <label>Is Blocked</label>
        <input type="checkbox" name="is_blocked"/>
    </div>
    <div class="line_search">
        <label>Is Active</label>
        <input type="checkbox" name="is_active"/>
    </div>
</div>
<div id="more_fields">
</div>