<div class="research">
    <label id="label_search_expression" >Search expression</label>
    <input id="input_search_expression" type="text" name="searchexp"/>
    <input type="hidden" value="8" name="type_search" id="type_search"/>
</div>
<div class="group">
    <div class="line_search">
        <label>Report ID</label>
        <input type="number" name="report_id"/>
    </div>
    <div class="line_search">
        <label>User ID</label>
        <input type="number" name="user_id"/>
    </div>
    <div class="line_search">
        <label>Yap Report</label>
        <input type="checkbox" name="reported_yap_flag"/>
    </div>
    <div class="line_search">
        <label>Yap Reported ID</label>
        <input type="number" name="reported_yap"/>
    </div>
    <div class="line_search">
        <label>Reyap Report</label>
        <input type="checkbox" name="reported_reyap_flag"/>
    </div>
    <div class="line_search">
        <label>Reyap Reported ID</label>
        <input type="number" name="reported_reyap"/>
    </div>
    <div class="line_search">
        <label>User Report</label>
        <input type="checkbox" name="reported_user_flag"/>
    </div>
    <div class="line_search">
        <label>User Reported ID</label>
        <input type="number" name="reported_user"/>
    </div>
    <div class="line_search">
        <label>Bug Report</label>
        <input type="checkbox" name="reported_bug_flag"/>
    </div>
    <div class="line_search">
        <label>General Report</label>
        <input type="checkbox" name="reported_general_flag"/>
    </div>
</div>
<div class="group">
    <div class="line_search">
        <label>Contact Email</label>
        <input type="number" name="contact_email"/>
    </div>
    <div class="line_search">
        <label>Contact Number</label>
        <input type="tel" name="contact_phone_number"/>
    </div>
    <div class="line_search">
        <label>Datetime Reported</label>
        <input type="date" name="datetime_reported"/>
    </div>
    <div class="line_search">
        <label>Is Active</label>
        <input type="checkbox" name="is_active"/>
    </div>
    <div class="line_search">
        <label>User is Deleted</label>
        <input type="checkbox" name="is_user_deleted"/>
    </div>
</div>
<div id="more_fields">
</div>