<div class="research">
    <label id="label_search_expression" >Search expression</label>
    <input id="input_search_expression" type="text" name="searchexp"/>
    <input type="hidden" value="2" name="type_search" id="type_search"/>
</div>
<div class="group">
    <div class="line_search">
        <label>Yap ID</label>
        <input type="number" name="yap_id"/>
    </div>
    <div class="line_search">
        <label>User ID</label>
        <input type="number" name="user_id"/>
    </div>
    <div class="line_search">
        <label>Title</label>
        <input type="text" name="title"/>
    </div>

    <div class="line_search">
        <label>Hashtags TODO</label>
        <input type="text" name="hashtag"/>
    </div>
    <div class="line_search">
        <label>Channels TO CHECK</label>
        <input type="text" name="channel"/>
    </div>
    <div class="line_search">
        <label>Max Length</label>
        <input type="number" name="max_length"/>
    </div>
    <div class="line_search">
        <label>Min Length</label>
        <input type="number" name="min_length"/>
    </div>
    <div class="line_search">
        <label>Max Listen Counts</label>
        <input type="number" name="max_listens"/>
    </div>
    <div class="line_search">
        <label>Min Listen Counts</label>
        <input type="number" name="min_listens"/>
    </div>
    <div class="line_search">
        <label>Max Reyap Counts</label>
        <input type="text" name="max_reyaps"/>
    </div>
    <div class="line_search">
        <label>Min Reyap Counts</label>
        <input type="text" name="min_reyaps"/>
    </div>
    <div class="line_search">
        <label>Max Like Counts</label>
        <input type="text" name="max_likes"/>
    </div>
    <div class="line_search">
        <label>Min Like Counts</label>
        <input type="text" name="min_likes"/>
    </div>
</div>
<div class="group">
    <div class="line_search">
        <label>Date Created</label>
        <input type="date" name="date_created"/>
    </div>
    <div class="line_search">
        <label>Date Deleted</label>
        <input type="date" name="date_deleted"/>
    </div>
    <div class="line_search">
        <label>Is Inactive</label>
        <input type="checkbox" name="is_inactive"/>
    </div>
    <div class="line_search">
        <label>User Is Inactive</label>
        <input type="checkbox" name="user_is_inactive"/>
    </div>
</div>
<div id="more_fields">
</div>