<div class="research">
    <label id="label_search_expression" >Search expression</label>
    <input id="input_search_expression" type="text" name="searchexp"/>
    <input type="hidden" value="5" name="type_search" id="type_search"/>
</div>
<div class="group">
    <div class="line_search">
        <label>Listen ID</label>
        <input type="number" name="listen_id"/>
    </div>
    <div class="line_search">
        <label>User ID</label>
        <input type="number" name="user_id"/>
    </div>
    <div class="line_search">
        <label>Yap ID</label>
        <input type="number" name="yap_id"/>
    </div>
    <div class="line_search">
        <label>User Listened ID</label>
        <input type="number" name="user_listened_id"/>
    </div>
    <div class="line_search">
        <label>Reyap ID</label>
        <input type="number" name="reyap_id"/>
    </div>
    <div class="line_search">
        <label>Max Listen Click Count</label>
        <input type="number" name="max_listen_click_count"/>
    </div>
        <div class="line_search">
        <label>Min Listen Click Count</label>
        <input type="number" name="min_listen_click_count"/>
    </div>
    <div class="line_search">
        <label>Max Time Listened</label>
        <input type="number" name="max_time_listened"/>
    </div>
    <div class="line_search">
        <label>Min Time Listened</label>
        <input type="number" name="min_time_listened"/>
    </div>
</div>
<div class="group">
    <div class="line_search">
        <label>Date Created</label>
        <input type="date" name="date_created"/>
    </div>
    <div class="line_search">
        <label>Is Inactive</label>
        <input type="checkbox" name="is_inactive"/>
    </div>
    <div class="line_search">
        <label>User Is Inactive</label>
        <input type="checkbox" name="user_is_inactive"/>
    </div>
</div>
<div id="more_fields">
</div>