<div class="research">
    <label id="label_search_expression" >Search expression</label>
    <input id="input_search_expression" type="text" name="searchexp"/>
</div>
<div class="group">
    <div class="line_search">
        <label>Channel ID</label>
        <input type="number" name="channel_id"/>
    </div>
    <div class="line_search">
        <label>Channel Name</label>
        <input type="text" name="channel_name"/>
    </div>
</div>
<div class="group">
    <div class="line_search">
        <label>Is Bonus Channel</label>
        <input type="checkbox" name="is_bonus"/>
    </div>
    <div class="line_search">
        <label>Is Promoted Channel</label>
        <input type="checkbox" name="is_promoted"/>
    </div>
    <div class="line_search">
        <label>Date Created</label>
        <input type="date" name="date_created"/>
    </div>
    <div class="line_search">
        <label>Is Active</label>
        <input type="checkbox" name="is_active"/>
    </div>
    <div class="line_search">
        <label>Date Deactivated</label>
        <input type="date" name="date_deactivated"/>
    </div>
</div>
<div id="more_fields">
</div>