<div class="research">
    <label id="label_search_expression" >Search expression</label>
    <input id="input_search_expression" type="text" name="searchexp"/>
</div>
<div class="group">
    <div class="line_search">
        <label>Like ID</label>
        <input type="number" name=like_id"/>
    </div>
    <div class="line_search">
        <label>User ID</label>
        <input type="number" name="user_id"/>
    </div>
    <div class="line_search">
        <label>Yap ID</label>
        <input type="number" name="yap_id"/>
    </div>
    <div class="line_search">
        <label>User Liked ID</label>
        <input type="number" name="user_liked_id"/>
    </div>
    <div class="line_search">
        <label>Reyap ID</label>
        <input type="number" name="reyap_id"/>
    </div>
</div>
<div class="group">
    <div class="line_search">
        <label>Date Created</label>
        <input type="date" name="date_created"/>
    </div>
    <div class="line_search">
        <label>Is Unliked</label>
        <input type="checkbox" name="is_unliked"/>
    </div>
    <div class="line_search">
        <label>Date Unliked</label>
        <input type="date" name="date_unliked"/>
    </div>
    <div class="line_search">
        <label>Is Unreyapped</label>
        <input type="checkbox" name="user_is_active"/>
    </div>
    <div class="line_search">
        <label>Is Active</label>
        <input type="checkbox" name="is_active"/>
    </div>
    <div class="line_search">
        <label>Date Deleted</label>
        <input type="date" name="date_deleted"/>
    </div>
    <div class="line_search">
        <label>User Is Active</label>
        <input type="checkbox" name="user_is_active"/>
    </div>
</div>
<div id="more_fields">
</div>