{% extends "base.html" %}
{% block localfiles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
    <script type="text/javascript" src="{% static "js/search/index.js" %} "></script>
{% endblock %}
{% block headbar %}
    <div id="headbar_empty">
        <span id="text_headbar">Search</span>
    </div>
{% endblock %}
{% block content %}
    <div id="content">
        <div class="section" id="search">
            <form id="form_search" method="post">
                <div id="select_type_search" class="line_search">
                    <label for="type_search">Type of Search</label>
                    <select id="type_search">
                        <option value="1">Users</option>
                        <option value="2">Yaps</option>
                        <option value="3">Reyaps</option>
                        <option value="4">Likes</option>
                        <option value="5">Listens</option>
                        <option value="6">Channels</option>
                        <option value="7">Hashtags</option>
                        <option value="8">Reports</option>
                        <option value="9">All</option>
                    </select>
                </div>
                <div id="form_fields">
                </div>

                <div class="submitdiv">
                    <div class="button_form">Reset</div>
                    <div id="submit_button" class="button_form">Submit</div>
                </div>
            </form>
        </div>
        <div class="section" id="results">
            <div id="table">
                <div id="resultsheader" class="header">Results</div>
                <table width="100%" cellpadding="2px" cellspacing="0px">
                    <tr>
                        <th>Header 1</th>
                        <th>Header 2</th>
                        <th>Header 3</th>
                    </tr>
                    <tr>
                        <td>row 1, cell 1</td>
                        <td>row 1, cell 2</td>
                        <td>row 1, cell 3</td>
                    </tr>
                    <tr>
                        <td>row 2, cell 1</td>
                        <td>row 2, cell 2</td>
                        <td>row 2, cell 3</td>
                    </tr>
                    <tr>
                        <td>row 3, cell 1</td>
                        <td>row 3, cell 2</td>
                        <td>row 3, cell 3</td>
                    </tr>
                    <tr>
                        <td>row 4, cell 1</td>
                        <td>row 4, cell 2</td>
                        <td>row 4, cell 3</td>
                    </tr>
                    <tr>
                        <td>row 5, cell 1</td>
                        <td>row 5, cell 2</td>
                        <td>row 5, cell 3</td>
                    </tr>
                    <tr>
                        <td>row 6, cell 1</td>
                        <td>row 6, cell 2</td>
                        <td>row 6, cell 3</td>
                    </tr>
                    <tr>
                        <td>row 6, cell 1</td>
                        <td>row 6, cell 2</td>
                        <td>row 6, cell 3</td>
                    </tr>
                    <tr>
                        <td>row 6, cell 1</td>
                        <td>row 6, cell 2</td>
                        <td>row 6, cell 3</td>
                    </tr>
                    <tr>
                        <td>row 6, cell 1</td>
                        <td>row 6, cell 2</td>
                        <td>row 6, cell 3</td>
                    </tr>
                    <tr>
                        <td>row 6, cell 1</td>
                        <td>row 6, cell 2</td>
                        <td>row 6, cell 3</td>
                    </tr>
                    <tr>
                        <td>row 6, cell 1</td>
                        <td>row 6, cell 2</td>
                        <td>row 6, cell 3</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}