{% extends "base.html" %}

{% block localfiles %}
    {% load dictionary_extras %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/wiki/home.css" %}" />
    <script type="text/javascript" src="{% static "js/wiki/main.js" %} "></script>
{% endblock %}
{% block content %}
    <div id="content">
        {% include "wiki/search_bar.html" %}
        <div id="new_article_container">
            <div id="back_button">
                <a href="/wiki/">
                    <span class="icone" id="back_button_icone"></span>
                    <span id="back_button_text">Back</span>
                </a>
            </div>
            <div id="add_article" class="button_form">
                <span class="icone" id="add_article_icone"></span>
                <button id="new_article_button" type="button" class="button_form">Add New Article</button>
            </div>
        </div>
        <div id="results_container" class="part_main_wiki">
            <div id="results_header" class="header_main_wiki">
                <span id="results_header_text" class="title_main_wiki">Bookmarked Articles</span>
                <span id="bookmark_edit" class="edition_button bookmark_toggle">Edit</span>
                <span id="bookmark_delete" class="edition_button bookmark_toggle" style="display: none">Delete</span>
                <span class="edition_button bookmark_toggle" style="display: none">|</span>
                <span id="bookmark_done" class="edition_button bookmark_toggle" style="display: none">Done</span>

            </div>
            <div id="folder">
                {% for folder in  folders %}
                    {% if folder.name == 'No Folder' %}
                        {% for article in articles %}
                            {% include "wiki/preview_article.html" %}
                        {% endfor %}
                    {% else %}
                        {% include "wiki/folder.html" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}