<!DOCTYPE html>
<html>
<head>
    {% block mainfiles %}
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/clearfix.css" %}" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
        <script type="text/javascript" src="{% static "js/chat/jquery.cookie.js" %} "></script>
        <script type="text/javascript" src="{% static "js/base.js" %} "></script>
    {% endblock %}
    {% block localfiles %}
    {% endblock %}
</head>
<body>
{% block header %}
    <div id="header" class="green">
        <span class="title">yapster</span>
        <a class="text_icone" href="/login/">log out</a>
        <span id="logout_icone" class="icone"></span>
        <a class="text_icone" href="#">Settings</a>
        <span id="settings_icone" class="icone"></span>
        <a class="text_icone" href="/contacts/">Contacts</a>
        <span id="contacts_icone" class="icone"></span>
        <a class="text_icone" href="/permissionsgroups/">Groups Management</a>
        <span id="perms_icone" class="icone"></span>
        <a class="text_icone" href="/cmsusers/">Cms Users</a>
        <span id="cmsusers_icone" class="icone"></span>
        <a class="text_icone" href="/{{ user.username }}">{{ user.username }}</a>
        <span id="cmsuser_icone" class="icone"></span>
        <a class="text_icone" href="/search/">Search</a>
        <span id="search_icone" class="icone"></span>
        <a class="text_icone" href="/home/">Home</a>
        <span id="home_icone" class="icone"></span>
    </div>
{% endblock %}
{% block sidebar %}
    <div id="sidebar" class="clearfix">
        <ul>
            <div class="title">Home</div>
            <a class="left_tab" href="/home/" ><li>main</li></a></a>
            <a class="left_tab" href="/statistics/usership/"><li>statistics</li></a>
            <a class="left_tab" href="/test/"><li>maps</li></a>
        </ul>
        <ul>
            <div class="title">Statistics</div>
            <a  class="left_tab" href="/statistics/yaps/"><li>Yaps</li></a></a>
            <a class="left_tab" href="/statistics/usership/"><li>Users</li></a>
            <a class="left_tab" href="/statistics/queries/"><li>Queries</li></a>
            <a class="left_tab" href="/statistics/databases/"><li>Databases</li></a>
            <a class="left_tab" href="/statistics/servers/"><li>Servers</li></a>
            <a class="left_tab" href="/statistics/trends/"><li>Trends</li></a></a>
            <a class="left_tab" href="/statistics/sharing/"><li>Sharing</li></a>
        </ul>
        <ul>
            <div class="title">Spam</div>
            <a class="left_tab" href="/test/"><li>All</li></a>
            <a class="left_tab" href="/test/"><li>Recent</li></a>
            <a class="left_tab" href="/test/"><li>Important</li></a>
            <a class="left_tab" href="/test/"><li>Search</li></a>
        </ul>
        <ul>
            <div class="title">Reports</div>
            <a class="left_tab" href="/test/"><li>All</li></a>
            <a class="left_tab" href="/test/"><li>Recent</li></a>
            <a class="left_tab" href="/test/"><li>Important</li></a>
            <a class="left_tab" href="/test/"><li>Search</li></a>
        </ul>
    </div>
    {% block headbar %}
        <div id="headbar_empty">
        </div>
    {% endblock %}
{% endblock %}
{% block content %}
{% endblock %}
{% block announcements %}
    {% include "announcements/announcements.html" %}
{% endblock %}
{% block  messager%}
    <div id="messenger_div">
        <div id="messenger_to_up">
    {% include "chat/messager.html" %}
     </div>
        <div id="message_line" style="display:none">
            <form id="message_form" method="post">
                {% csrf_token %}
                <input id="message" type="text" placeholder="Write your message..." autocomplete="off" />
            </form>
        </div>
    </div>

{% endblock %}
</body>
</html>