<script>
    hide_events();
</script>

<div id="header_calendar" xmlns="http://www.w3.org/1999/html">
    <button onclick="change_display(prev_month)" class="button_form">&lt;&lt;</button>
    <input type="hidden" id="prev_month" name="month" class="change_link button_form" value="{{ year }} {{ month|add:"-1" }}"/>
    <button onclick="change_display(next_month)" class="button_form">&gt;&gt;</button>
    <input type="hidden" id="next_month" name="month" class="change_link button_form" value="{{ year }} {{ month|add:"1" }}"/>
</div>


<h4>{{ mname }} {{ year }}</h4>

<div class="month">
    <table id="month_table">
        <tr>
            <th class="empty">Mon</th>
            <th class="empty">Tue</th>
            <th class="empty">Wed</th>
            <th class="empty">Thu</th>
            <th class="empty">Fri</th>
            <th class="empty">Sat</th>
            <th class="empty">Sun</th>
        </tr>
        {% for week in month_days %}
        <tr>
            {% for day, events, current in week %}
                {% if day == 0 %}
                    <td class="empty_day_in_month">
                {% elif  current %}
                    <td class="current day_in_month current">
                        <span class="day_number">{{ day }}</span>
                {% else %}
                    <td class="day_in_month">
                        <span class="day_number">{{ day }}</span>
                    {% for event in events %}
                        <div class="event_in_month calendar_{{ event.mycalendar.id }}" style="background-color: #{{ event.mycalendar.color }}">
                            <a class="event_link" href="javascript:display_event('{{ event.id }}')">{{ event.title }}</a>
                            </div>
                    {% endfor %}
                {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <div class="clear"></div>
</div>
