<script>
    hide_events();
</script>

<div id="header_calendar">
    <button onclick="change_display(prev_week)" class="button_form">&lt;&lt;</button>
    <input type="hidden" id="prev_week" name="week" class="change_link button_form" value="{{ start_of_week.year }} {{ start_of_week.month }} {{ start_of_week.day|add:"-7" }}"/>
    <button onclick="change_display(next_week)" class="button_form">&gt;&gt;</button>
    <input type="hidden" id="next_week" name="week" class="change_link button_form" value="{{ start_of_week.year }} {{ start_of_week.month }} {{ start_of_week.day|add:"7" }}"/>
</div>

<h4>{{ mname }} {{ year }}</h4>

<div id="week">
    <div id="hour_container">
        {% for hour in hours %}
            <div class="hour">{{ hour }}</div>
        {% endfor %}
    </div>
    <table id="table_week">
        <tr>
            {% for day, events, current  in weekdays %}
                {% if current %}
                <th class="empty current">
                {% else %}
                <th class="empty">
                {% endif %}
            <a class="date_in_week" href="javascript:see_details('{{ day.year }} {{ day.month }} {{ day.day }}', 'day')">{{ day.month }}/{{ day.day }}</a>
                </th>
            {% endfor %}
        </tr>
        {% for hour in hours %}
            <tr>
                {% for day, events, weekdays in weekdays %}
                    <td>
                        {% for event in events %}
                            {% if event.start.hour|add:"-8" == forloop.parentloop.parentloop.counter%}
                                <div class="event_in_week calendar_{{ event.mycalendar.id }}" style="background-color: #{{ event.mycalendar.color }}">
                                    <a class="event_link" href="javascript:display_event('{{ event.id }}')">{{ event.title }}</a>
                                    </div>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <div class="clear"></div>
</div>
