/*main css*/

body {
    height: initial;
}

#content {
    margin-top: 38px;
    height: 100%;
}
#cols {
    height: 100%;
    float: left;
    width: 100%;
}

.main_col {
    width: 33%;
    float: left;
    text-align: center;
    height: 100%;
    padding-bottom: 100px;
}

#todo {
    border-left: 1px #8b8b8d solid;
}

#inprogress {
    border-right: 1px #8b8b8d solid;
    border-left: 1px #8b8b8d solid;
}

#done {
    border-right: 1px #8b8b8d solid;
}

.header_tasks {
    margin-bottom: 38px;
    padding-bottom: 5px;
    border-bottom: 1px #8b8b8d solid;

}

.title_header {
    text-transform: uppercase;
    font-weight: bold;
}

/*task css*/

.task {
    font-size: 11px;
    margin: 8px;
    padding: 10px;
    border: 1px black solid;
    border-radius: 4px;
    cursor: pointer;
}

.task:hover {
    opacity: 0.8;
}

.header_task {
    font-size: 12px;
    font-weight: bold;
}

.title_task:hover {
    text-decoration: underline;
}

.details_task {
    margin-top: 10px;
}


.priority_task {
    float: left;
}

.title_task {
    text-align: center;
    line-height: 25px;
}

.label_detail_task {
    float: left;
    font-weight: bold;
}

.detail_task {

}


.test {
    background-color: black;
    float: left;
    cursor: pointer;
}

.details_task_icone {
    background-position: 56.6% 56.2%;
    width: 25px;
    height: 25px;
    float: right;
}

.ui-dialog {
    width: 50% !important;
    height: 90% !important;
}

.select, .member:hover {
    color: #15D400;
}

#categories_toggle {
    margin-bottom: 10px;
}

.category {
    margin-bottom: 2px;
}

.category:hover, .option_task:hover{
    background-color: #f4f4f4;
}

.main_option_task:hover, .selected_option {
    color: #15D400;
}

.inactive_category {
    color: grey;
}

.inactive_color {
    background-color: #f4f4f4 !important;
}

.inactive_task {
    display: none;
}

#categories_toggle, #categories_search {
    float: left;
    padding: 10px;
    border: 1px black solid;
}

#categories_search {
    float: right;
}

#categories_manager {
    width: 100%;
    float: left;
}

.option_task {
    font-size: 11px;

}

.main_option_task {
    float:left;
    text-align: center;
    padding: 2px;
}

.square_color {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 8px;
}

#new_task {
    float: left;
    margin-bottom: 10px;
}

#button_tasks {
    float: left;
    width: 100%;
}

#create_task {
    line-height: 25px;
    padding: 4px;
    text-align: center;
    width: 120px;
    float: left;
}

#create_category {
    line-height: 25px;
    padding: 4px;
    text-align: center;
    width: 120px;
    float: left;
}

#new_task_form, #new_category_form {
    padding: 10px;
    width: 300px;
    border: 1px black solid;
    float: left;
}

#create_task_button {
    width: 100px;
}

.line_form_task, .line_form_category {
    width: 300px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 11px;
    float: left;
}

.input_task, .input_category {
    float: right;
}

#checkbox_user_container {
    width: 174px;
}

#description {
    width: 170px;
    height: 80px;
}

#create_category_button {
    width: 120px;
}