{% extends "base.html" %}
{% block localfiles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/group.css" %}" />
{% endblock %}
{% block content %}
<div id="content" class="clearfix">
    <div id="groupstats">
        <div id="titlegroup">Group Stats</div>
        <div id="line">
            <div id="groupname">{{ group.name }}</div>
            <div id="groupcount">{{ group.members_count }}</div>
        </div>
        <div id="line">
            <div id="descriptiongroup">{{ group.description }}</div>
        </div>
        <div id="line">
            <div id="groupdate">{{ group.date_created }}</div>
        </div>
    </div>
    <div id="info">
        <div id="title">Random Yaps</div>
        <div id="contentinfos">
            <ul>
                <li>Yap</li>
                <li>Yap</li>
                <li>Yap</li>
                <li>Yap</li>
                <li>Yap</li>
            </ul>
        </div>
    </div>
    <div id="info">
        <div id="title" >Top Users</div>
        <div id="contentinfos">
            <ul>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}