{% extends "base.html" %}
{% block localfiles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/hashtag.css" %}" />
{% endblock %}
{% block content %}
<div id="content" class="clearfix">
    <div id="tagstats">
        <div id="titletags">Hashtag Stats</div>
        <div id="line">
            <div id="tagname">#{{ tag.name }}</div>
            <div id="tagcount">{{ tag.used_count }}</div>
        </div>
        <div id="line">
            <div id="tagdate">{{ tag.date_created }}</div>
        </div>
    </div>
    <div id="info">
        <div id="title" >Random Yaps</div>
        <div id="contentinfos">
            <ul>
                <li>Yap</li>
                <li>Yap</li>
                <li>Yap</li>
                <li>Yap</li>
                <li>Yap</li>
            </ul>
        </div>
    </div>
    <div id="info">
        <div id="title" >Top Users</div>
        <div id="contentinfos">
            <ul>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
                <li>User</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}