{% extends "base.html" %}
{% block localfiles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}" />
    <script type="text/javascript" src="{% static "js/stats/home.js" %} "></script>
{% endblock %}
{% block content %}
    <div id="content" class="clearfix">
        <div id="stats">
{#            <a href="/statistics/export_pdf/">CLICK ME</a>#}
            <h2 class="title">Statistics</h2>
            <div id="stats_home">
            {% include "sub_templates/home_stats.html" %}
            </div>
        </div>
    </div>
{% endblock %}