{% extends "base.html" %}
{% block localfiles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}" />
    <script type="text/javascript" src="{% static "js/stats/home.js" %} "></script>

{% endblock %}
{% block content %}
    <div id="content" class="clearfix">
        <div id="stats">

            <h2 class="title">Statistics</h2>
            <div class="mainstat">
                <div class="label">Yaps:</div>
                <div class="number">29128492</div>
            </div>
            <div class="mainstat">
                <div class="label">Live Users:</div>
                <div class="number">8634173</div>
            </div>
            <div class="mainstat">
                <div class="label">Listens:</div>
                <div class="number">493182</div>
            </div>
            <div class="mainstat">
                <div class="label">Time Listened:</div>
                <div class="number">12d 20h 15m 4s</div>
            </div>
            <div class="mainstat">
                <div class="label">Yap length:</div>
                <div class="number">20s</div>
            </div>
            <div class="mainstat">
                <div class="label">Average Listens:</div>
                <div class="number">56</div>
            </div>
            <div class="mainstat">
                <span class="label">Trending:</span>
                <span class="number hashtags"><a href="#">#yapster</a> <a href="#">#ryansaxerocks</a> <a href="#">#whatdoyouthink</a></span>
            </div>
        </div>
        <div id="announcements" class="right_block">
            <a id="announcement" class="right_title" href="/announcements/" >Announcements</a>
            <div id="announcementcontent">
                {% if announcements %}
                    {% for announce in announcements %}
                        <h3 class="header">{{ announce.title }}</h3>
                        <p class="message">
                            {{ announce.description }}
                        </p>
                    {% endfor %}
                {% else %}
                    <h3 class="header">No Announcements</h3>
                {% endif %}
            </div>
        </div>
        <div id="messager" class="right_block">
            <a id="messager_title" class="right_title" href="javascript:visibility('conversation')">Messager</a>
            <div id="conversations">
                {% for conversation in conversations %}
                    <div id="{{ conversation.id }}" class="line">
                        <a href="javascript:show_chat()">
                            {% for contact in conversation.users.all %}
                                {{ contact.username }}
                            {% endfor %}
                        </a>
                    </div>
                    <div id="{{ conversation.id }}" class="line">
                        <a href="javascript:">
                            {% for contact in conversation.users.all %}
                                {{ contact.username }}
                            {% endfor %}
                        </a>
                    </div>
                {% endfor %}
                <div id="new_conversation" class="line">
                    <a href="#">New Chat Room</a>
                </div>
            </div>
            <div id="conversation">
                <input type="hidden" value="{{ current_conversation.conversation_id }}" name="conversation_id"/>
                <div id="messages">
                  {% for message in messages %}
                      {{ message.author }}
                      {{ message.text }}
                  {% endfor %}
                </div>
                <div id="message_line">
                    <form id="message_form" method="post">
                        {% csrf_token %}
                        <input id="message" type="text" placeholder="Write your message..."/>
                        <button type="submit" id="btn_send_message">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}