{% extends "base.html" %}
{% block localfiles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/stats.css" %}" />
    <script type="text/javascript" src="{% static "js/stats/stats.js" %} "></script>
{% endblock %}
{% block headbar %}
    <div id="stats_headbar">
        <a class="tab_headbar" href="/statistics/usership/">Usership</a>
        <a class="tab_headbar" href="/statistics/yaps/">Yaps</a>
        <a class="tab_headbar" href="/statistics/reyaps/">Reyaps</a>
        <a class="tab_headbar" href="/statistics/listens/">Listens</a>
        <a class="tab_headbar" href="/statistics/countries/">Countries</a>
        <a class="tab_headbar" href="/statistics/hashtags/">Hashtags</a>
        <a class="tab_headbar" href="/statistics/databases/">Databases</a>
    </div>
{% endblock %}
{% block content %}
    <div id="content" class="clearfix">
    <input type="hidden" value="{{ type }}" id="type_stats"/>
        {% include "stats/sub_templates/description_stats_div.html" %}
        {% include "stats/sub_templates/search_stats_div.html" %}
        <div id="stats">
            {% include "stats/sub_templates/table_stats_div.html" %}
        </div>
        <div id="more_infos" style="display: none">
        </div>
    </div>
{% endblock %}