<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>{% block title %}Yapster{% endblock %}</title>
</head>
<!-- what it should look like on the home page
<body>
	<div id="header" class="silver">
		<span class="title">Yapster Inc.</span>
		<a href="#">log out</a>
		<a href="#">Settings</a>
		<a href="#">Ryan Saxe</a>
		<a href="#">Search</a>
		<a href="#" class="selected">Home</a>
	</div>
	<div class="clearfix" id="page">
		<div id="sidebar">
			<ul>
				<div class="title">Home</div>
				<a href="#"><li>logs</li></a></a>
				<a href="#"><li>statistics</li></a>
				<a href="#"><li>maps</li></a>
			</ul>
			<ul>
				<div class="title">Statistics</div>
				<a href="#"><li>Yaps</li></a></a>
				<a href="#"><li>Users</li></a>
				<a href="#"><li>Queries</li></a>
				<a href="#"><li>Databases</li></a>
				<a href="#"><li>Trends</li></a></a>
				<a href="#"><li>Sharing</li></a>
				<a href="#"><li>Server</li></a>
			</ul>
			<ul>
				<div class="title">Spam</div>
				<a href="#"><li>Logs</li></a>
				<a href="#"><li>Recent</li></a>
				<a href="#"><li>Important</li></a>
				<a href="#"><li>Search</li></a>
			</ul>
			<ul>
				<div class="title">Reports</div>
				<a href="#"><li>Logs</li></a>
				<a href="#"><li>Recent</li></a>
				<a href="#"><li>Important</li></a>
				<a href="#"><li>Search</li></a>
			</ul>
		</div>
	</div>
</body>
-->
<body>
	<div id="header" class="silver">
		{% block header %}
		<span class="title">Yapster Inc.</span>
		{% for pg in pages %}
			<a href="{{pg.href}}" {% if request.get_full_path = {{pg.href}} %}class="selected"{% endif %}>{{pg.name}}</a>
		{% endfor %}
		{% endblock %}
	</div>
	<div id="sidebar">
		{% block sidebar %}
		{% for db in databases %}
			<ul>
				<div class="title">{{db.name}}</div>
				{% for section in db %}
					<a href="{{section.href}}" {% if request.get_full_path = {{section.href}} %}class="selected"{% endif %}><li>{{section.name}}</li></a>
				{% endfor %}
			</ul>
		{% endfor %}
		{% endblock %}
	</div>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
</html>
