{% extends "base.html" %}
{% block localfiles %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/tasks/main.css" %}" />
    <script type="text/javascript" src="{% static "js/tasks/tasks_main.js" %} "></script>
{% endblock %}
{% block headbar %}
    <div id="headbar_empty">
        <span id="text_headbar"></span>
    </div>
{% endblock %}
{% block content %}
    <div id="content">
        <div id="categories_manager">
            <div id="categories_toggle">
                {% for c in categories %}
                    <a href="javascript:toggle_categories('{{ c.category_id }}')">
                        <div class="category" id="category_{{ c.category_id }}">
                            <span class="square_color" id="color_{{ c.id }}" style="background-color:#{{ c.color }}"></span>
                            <span class="option_task">{{ c.name }}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div id="categories_search">

                <div class="option_tasks" id="main_options">
                    <a href="javascript:toggle_options('public')">
                        <div class="main_option_task selected_option">Is Public</div>
                    </a>
                    <a href="javascript:toggle_options('{{ user.user_id }}')">
                        <div class="main_option_task selected_option">Mine</div>
                    </a>
                </div>
                <div class="option_tasks" id="">

                </div>
            </div>
        </div>
        <div id="cols">
            <div id="todo" class="main_col droppable">
                <div id="header_todo" class="header_tasks">
                    <span class="title_header">todo</span>
                </div>
                <div id="container_todo" class="container_tasks">
                {% for task in todo_tasks %}
                  {% include "tasks/task.html" %}
                {% endfor %}
                </div>
            </div>
            <div id="inprogress" class="main_col droppable">
                <div id="header_inprogress" class="header_tasks">
                    <span class="title_header">in progress</span>
                </div>
                <div id="container_inprogress" class="container_tasks">
                {% for task in inprogress_tasks %}
                  {% include "tasks/task.html" %}
                {% endfor %}
            </div>
            </div>
            <div id="done" class="main_col droppable">
                <div id="header_done" class="header_tasks">
                    <span class="title_header">done</span>
                </div>
                <div id="container_done" class="container_tasks">
                {% for task in done_tasks %}
                  {% include "tasks/task.html" %}
                {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}